[submodule ".spacemacs.d/plugins/nix-emacs"]
	path = .spacemacs.d/plugins/nix-emacs
	url = git@github.com:travisbhartwell/nix-emacs.git
[submodule ".spacemacs.d/plugins/rust-snippets"]
	path = .spacemacs.d/plugins/rust-snippets
	url = git@github.com:freebroccolo/rust-snippets.git
[submodule ".spacemacs.d/layers/spacemacs-cmake-ide"]
	path = .spacemacs.d/layers/spacemacs-cmake-ide
	url = git@github.com:bkchr/spacemacs-cmake-ide.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:bkchr/spacemacs.git
[submodule ".spacemacs.d/plugins/lsp-mode"]
	path = .spacemacs.d/plugins/lsp-mode
	url = git@github.com:bkchr/lsp-mode.git
[submodule ".spacemacs.d/plugins/lsp-rust"]
	path = .spacemacs.d/plugins/lsp-rust
	url = git@github.com:bkchr/lsp-rust.git
[submodule ".spacemacs.d/layers/rustrls"]
	path = .spacemacs.d/layers/rustrls
	url = git@github.com:MaikKlein/rustrls.git
[submodule ".spacemacs.d/plugins/company-lsp"]
	path = .spacemacs.d/plugins/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule ".spacemacs.d/plugins/lsp-ui"]
	path = .spacemacs.d/plugins/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
