use_nix_shell
PATH_add ~/.cargo/bin
PATH_add $PWD/goprojects/bin
export GIT_AUTHOR_EMAIL=bastian@superscale.io
export GIT_AUTHOR_NAME="Bastian Köcher"
export GIT_COMMITTER_EMAIL=bastian@superscale.io
export GIT_COMMITTER_NAME="Bastian Köcher"
