[submodule "plugins/writegood-mode"]
	path = plugins/writegood-mode
	url = git@github.com:bnbeckwith/writegood-mode.git
[submodule "layer/spacemacs-cmake-ide"]
	path = layers/spacemacs-cmake-ide
	url = git@github.com:bkchr/spacemacs-cmake-ide.git
[submodule "plugins/rust-snippets"]
	path = plugins/rust-snippets
	url = git@github.com:freebroccolo/rust-snippets.git
